[defaults]
# (c) 2012-2019, Ansible by Red Hat
# Documentation: https://docs.ansible.com/ansible/latest/reference_appendices/config.html
# Note: Keep YAML keys sorted alphabetically.
callbacks_enabled = ansible.posix.profile_tasks
collections_path = ./collections:~/.ansible/collections:/usr/share/ansible/collections
deprecation_warnings = true
host_key_checking = false
# Disable fact injection into the global variable space.
# It is deprecated and planned for removal in ansible-core 2.18.
# TODO: Remove once https://github.com/ansible/ansible/issues/73248 is resolved.
inject_facts_as_vars = false
roles_path = ./roles:~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles
stdout_callback = community.general.unixy

[diff]
# Always display diffs.
always = true

[inventory]
# fail_on_undefined_errors = true

[privilege_escalation]
# become = true

[ssh_connection]
pipelining = true
