.git
.github
.vscode
.devcontainer
molecule
tests
Pipfile
Pipfile.lock
requirements-local.yml.j2
*.md
LICENSE
.ansible-lint
.markdownlint.yaml
.pre-commit-config.yaml
.yamllint
Dockerfile
Dockerfile.j2
*.patch
