; Config file for Ansible.
; @docs: https://docs.ansible.com/ansible/latest/reference_appendices/config.html
[defaults]
# Use the stdout_callback when running ad-hoc commands.
bin_ansible_callbacks = True
# Enable profile_tasks callback for task timestamps and timing information.
callbacks_enabled = ansible.posix.profile_tasks
collections_path = ./collections:~/.ansible/collections:/usr/share/ansible/collections
# Enable deprecation warnings to monitor legacy patterns.
deprecation_warnings = True
display_ok_hosts = no
display_skipped_hosts = no
host_key_checking = False
# Disable fact injection into the global variable space.
# It is deprecated and planned for removal in ansible-core 2.18.
# TODO: Remove once https://github.com/ansible/ansible/issues/73248 is resolved.
inject_facts_as_vars = False
# Leave the 'cows' alone!
nocows = 1
roles_path = ./roles:~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles
# Use the built-in default callback with YAML format
stdout_callback = ansible.builtin.default
callback_result_format = yaml

[diff]
# Always display diffs.
always = True

[inventory]
# fail_on_undefined_errors = true

[privilege_escalation]
# become = true

[ssh_connection]
pipelining = True
